@font-face {
    font-family: 'neutromyob';
    src:
    url('../fonts/neutromyob-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/neutromyob-regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/neutromyob-regular.otf')  format('opentype');
}

.main{
    font-family: "Arial", sans-serif;
}

.banner{
    display: flex;
    height: 30vh;
    position: relative;
}

.banner-image{
    flex: 1 1 auto;
    background: url("../img/pigs-copy.jpg") center center no-repeat;
    background-size: cover;
}

.banner-logo{
    position: absolute;
    width: 30px;
    height: auto;
    padding: 1rem;
}

@media only screen and (min-width: 550px){

    .banner{
        /*height: 40vh;*/
        flex: 0 0 40vh;
    }
}

@media only screen and (min-width: 960px){

    .main {
        height: 100vh;
        display:flex;
        flex-flow: column;
    }

    .header{
        flex: 1 1 auto;
    }

    .banner{
        /*height: 50vh;*/
        flex: 0 0 50vh;
    }
}

.header{
    display: flex;
    /*flex: 1 1 auto;*/
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.content{
    display: flex;
    flex-flow: column;
    flex: 0 0 80%;
    align-items: center;
    text-align: center;
    font-family: neutromyob, sans-serif;
}

.content > h1,
.content > .line,
.content > p {
    margin: 0;
    margin-bottom: 2rem;
    color: #555555;
}

.content > h1{
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #626e7a;
}

.line{
    border-bottom: 1px solid lightgrey;
    width: 150px;
}

.register-button{
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 1rem 4rem;
    background: linear-gradient(to right, #6100A5, #EC0677);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    /*box-shadow: inset 0 -3px 0 black;*/
}

.register-button:hover {
    opacity: .7;
}


